body {
    margin: 0;
    text-align: center;
}

h1 {
    margin-top: 0;
}
.inner {
    /* backdrop-filter: blur(1.2em); */
    background-color: rgb(211, 159, 95);
    position: relative;
    padding-top: 6em;
}

/* .middle_container{
    background-color: red;
    height: 200px;
    width: 200px;
}

.bottom_container{
    background-color: blue;
    height: 200px;
    width: 200px;
} */

.invincible {
    text-decoration: underline;
}

.bottom-cloud {
    position: absolute;
}

.upper-cloud {
    position: absolute;
    top: 25px;
    right: 350px;
}
