<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template</title>
</head>

<body>

    <% if(fuckingDay==="Saturday" || fuckingDay==="Sunday" ) {%>

        <h1 style="color:chocolate;">Today is <%= fuckingDay %> !!</h1>
        <% } else { %>
            <h1 style="color:rgb(57, 30, 210);">Today is <%= fuckingDay %> !!</h1>
            <% } %>
</body>

</html>