body {
    background-color: bisque;
}

hr {
    color: black;
    /* background-color: none; */
    border-style: none;
    border-top-style: dashed;
    border-width: 2px;
    width: 30%;
    /* height: 1em; */
}

h1{
    color: #66BFBF;
}

h3{
    color: #66BFBF;
}

img{
    border-radius: 50%;
    height: 12em;
    width: 12em;
    filter: blur(5px);
}