<%- include('header') %>


<div class="box" id="heading">
    <h1>This is the About page</h1>
</div>

<center>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aspernatur consequuntur laudantium inventore pariatur
        vitae. Hic quasi officia architecto dicta reprehenderit adipisci illum praesentium. Eius nulla, soluta
        dignissimos consectetur nobis ipsa vitae, rerum adipisci eligendi culpa cumque est itaque omnis illo et iste
        officiis sapiente nesciunt nostrum accusantium! Rerum, dolorum eum repellendus labore ducimus placeat doloribus,
        voluptatum aperiam at deserunt maxime nam earum nesciunt sunt ea! Nisi quibusdam inventore corporis accusamus
        veniam eius distinctio ipsa voluptates ea aliquam sed sit blanditiis cumque possimus enim soluta nihil, est
        consequatur, et delectus adipisci modi. Reiciendis architecto, ex aut eveniet consequuntur alias at! Ducimus eos
        vitae quia nesciunt culpa deleniti fugiat sunt sequi amet voluptate velit architecto, sed, doloremque maxime
        cumque tempore minus eveniet asperiores, explicabo fugit enim. Sequi incidunt vitae delectus! Deleniti id quod
        debitis ut quam, iusto porro dolore labore natus repudiandae sed delectus in, vel illum, ullam tenetur unde
        accusamus? Officiis, et. Vero repellat, nostrum inventore nemo doloremque exercitationem tempora soluta
        molestias. Assumenda quo autem quod, in minima obcaecati unde praesentium pariatur optio veniam nisi
        dignissimos, inventore provident vel voluptas illum doloremque ipsum enim iusto totam? Ipsum ab, a sunt amet
        minus recusandae laboriosam modi sed, fugit hic autem ullam cum!</p>
</center>

<%- include('footer') %>