.header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    background-color: bisque;
    z-index: 1000;
}

.header .flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 1.5em 2em;
}

.header .flex .logo img {
    height: 4.5rem;
}


.header .flex .navbar a {
    margin-left: 2rem;
    font-size: 2rem;
    color: var(--black);
}


section {
    padding: 3rem 2rem;
    max-width: 100%;
    margin: 0 auto;
}

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
}